body{
    background-color: black;
    background-image: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#phaser-canvas{
    float: left;
    width: 100%;
}

#phaser-canvas canvas{
    margin: 0 auto;
    border: 1px solid white;
}